body{
    mirgin:0;
    padding:0;
    background:cadetblue;
}
.input{
    text-align: center;
    background-color: darkslateblue;
    width: 300px;
    padding: 20px;
    position: relative;
    top: 225px;
    left: 750px;
    display: block;
    border-radius: 30px ;

}

input {
    width: 200px;
    height: 55px;
    border-radius: 10px;
    padding:0 45px;
    font-size: 22px;
    text-align: center;


}
.text{
    margin: 20px 0;
}
.btn{
    width: 300px;
}
a{
    font-size: 20px;
    margin-top:30px;
    color:black;
}

